.nav{
			padding: 10px;
			
		}

		h1{
			text-align: center;
			font-family: calibri
		}

		h2{
			font-family: calibri
		}

		body{
			font-family: calibri

		}
		img{
			float: center;
 			margin-left: 10px;
}
		}